/*General*/
html,
body {
  font-family: roboto, shrikhand;
}
.primary-color {
  color: #9356dc;
}
.secondary-color {
  color: #ff79da;
}
.third-color {
  color: #99e2d0;
}
.button {
  background-color: #9356dc;
  border-radius: 30px;
  box-shadow: 0 5px 5px 5px grey;
}
.footer_form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.footer_itemform {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
/*Page Accueil*/
/*Nav*/
.logo_style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.location_form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
  width: 100%;
  height: 50px;
}
.restaurant_card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  width: 100%;
  height: auto;
}
.img_card {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  width: auto;
  height: 300px;
}
